@inherits LayoutComponentBase

@*<PageTitle>dentist project</PageTitle>*@

<div class="page" style="background-color: #f7f7f7;">
    <div>
        <UserNaveBar />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <div>
        <UserFooter />
    </div>
</div>