@inherits LayoutComponentBase

<PageTitle>dentist project</PageTitle>

<div class="page" style="direction:rtl style=" background-color: #f7f7f7;"">
    <div>
        <SideBarDoctor />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>