<input type="checkbox" id="check" />
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
</label>
<div class="sidebar">
    <header>My App</header>
    <label for="check">
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <ul>
        <li>
            <a href="/maindoctorpage">
                <lord-icon src="https://cdn.lordicon.com/slduhdil.json"
                           class="lord_icon"
                           trigger="hover"
                           scale="40"
                           colors="primary:#ffffff"
                           style="margin: 0 1rem;"
                           state="hover-2">
                    <h5 class="color_white"></h5>
                </lord-icon>الصفحه الرئيسية
            </a>
        </li>
        <li><a href="/profileofdoctor"><i class="bi bi-person-circle"></i>حسابى</a></li>
        <li><a href="/doctorservice"><i class="fas fa-sliders-h"></i>الخدمات</a></li>
    </ul>
</div>
@code {

}
