
<div class="slide-container swiper">
    <div class="slide-content swiper-container">
        <div class="card-wrapper swiper-wrapper" style="height:400px;">
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="profile1.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">الاسم:هبه احمد</h2>
                    <p class="description">التخصص: طبيب اسنان.</p>

                    <button class="button">معرفة المزيد</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="profile1.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">الاسم:هبه احمد</h2>
                    <p class="description">التخصص: طبيب اسنان.</p>

                    <button class="button">معرفة المزيد</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="profile1.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">الاسم:هبه احمد</h2>
                    <p class="description">التخصص: طبيب اسنان.</p>

                    <button class="button">معرفة المزيد</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="profile1.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">الاسم:هبه احمد</h2>
                    <p class="description">التخصص: طبيب اسنان.</p>

                    <button class="button">معرفة المزيد</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="profile1.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">الاسم:هبه احمد</h2>
                    <p class="description">التخصص: طبيب اسنان.</p>

                    <button class="button">معرفة المزيد</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="profile1.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">الاسم:هبه احمد</h2>
                    <p class="description">التخصص: طبيب اسنان.</p>

                    <button class="button">معرفة المزيد</button>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
</div>
@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeSwiper");
        }
    }

}
