@inherits LayoutComponentBase

<PageTitle>ClinicFront</PageTitle>

<div class="page ss" style=" background-color: #f7f7f7;">
    <div>
        <SideBarAdmin/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>