<section class="home__families u-mt--7 d:u-mt--5 u-render__position--relative row" style=" margin-bottom: 6rem;">


    <div class="box box--white col-md-6 col-sm-12 col-lg-4 ">
        <img src="Good team-pana.png" class="img-cards" width="96" height="93" alt="اسأل الطبيب">
        <p class="u-ml--4"><b> 25 الف</b> زيارة</p>
    </div>


    <div class="box box--white col-md-6 col-sm-12 col-lg-4 ">
        <img src="التخصصات.png" class="img-cards" width="96" height="93" alt="التخصصات">
        <p class="u-ml--4"><b> +200 </b> طبيب/طبيبة</p>
    </div>

    <div class="box box--white col-md-6 col-sm-12 col-lg-4">
        <img src="Team spirit-pana.png" class="img-cards" width="96" height="93" alt="المقالات">
        <p class="u-ml--4"><b> +4000 </b> مستخدم مسجل</p>
    </div>

</section>
@code {

}
