@page "/Contactus"
@layout MainLayoutUser

<div class="background-img"></div>
<br />
<br />
<br />
<br />
<h2 style="direction:ltr;">من نحن؟</h2>
<br />

<div class="text-3">
    <p>
    DRsJo.com تنتمي إلى شركة تجميلي ، الشبكة الرائدة عالمياً للبوابات الإلكترونية الخاصة بمحتوى الطب وجراحة التجميل. مساحة للمهتمين للالتقاء وتبادل الخبرات حول عمليات التجميل والتواصل مع أفضل الأطباء/الطبيبات.
    <br />
    يزور ملايين الأشخاص من جميع أنحاء العالم بوابات تجميلي كل شهر للبحث عن تقييمات الأطباء والمعلومات التفصيلية والموضوعية المتباينة حول عمليات التجميل، والتدخلات الجراحية، وتقييم المرضى، وإجابات الخبراء؛ لأن هدفهم اكتشاف الإجراءات والأطباء المناسبين لاحتياجاتهم.
    </p>
</div>
<br />
<div>
    <div @* style="margin-top: 2rem; position: relative;" *@>
        <img src="doctor baner-3.png" @* style="width:100%;" *@>
    </div>
</div>
<br />

<Cards/>

<h2>تواصل معنا</h2>
<br />

<section id="contact">
    <div class="container">

        <div class="content">

            <div class="left-side">
              
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+962798312586</div>
                </div>
                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-two">info@DrsJo.com</div>
                </div>
                <div class="address details">
                    <i class=" fab fa-whatsapp"></i>
                    <div class="topic">whatsapp</div>
                    <a href="https://wa.me/رقم الهاتف?text=[يرحب بكم  DRsJo.com]">
                        <button class="btn btn-success" style="width: 131px;HEIGHT: 2REM;margin: 1rem;">
                         
                            <span>اتصل بنا الآن</span>
                        </button>
                    </a>
                </div>
            </div>
                 <div  class="right-side">
            <img src="Contact us-pana.png" style=" width:100%;">
        </div>
        </div>
       
    </div>

</section>


@code {

}
