* {
    box-sizing: border-box;
}

.backgroundimgOfPage {
    background-color: #dddddd61 !important;
    margin-top: -1.1rem;
    margin-right: -1.5rem;
    position: fixed;
    height: 100%;
    width: 100%;
}
.main_container {
    direction:rtl;
    margin-top: -1.1rem;
    width: 70%;
    position: relative;
    right: 7%;
    padding:1rem;
}
h1{
    margin:2rem 0 3rem;
}
.img{
    width:100%;
    margin-bottom:2rem;
}
.flex{
    display:flex;
}
.flexRowCenter{
    justify-content:center;
    align-items:center;
}
article > img{
    width:80%;
}