body {
    direction: rtl
}

.CPhoto {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-container {
    margin-top: -1.1rem;
    width: 70%;
    position: relative;
    right: 6%;
}

.coverphoto_button {
    position: absolute;
    bottom: -13%;
    right: -26%;
    width: 10rem !important;
    height: 2.5rem;
    padding: .2rem 0rem;
}

.img {
    width: 100%;
    height: 100%;
}

.containerofcntent {
    width: 90%;
    margin: auto;
    background-image: url('assets/images/halfdoctorbluer.jpeg');
    background-size: cover;
    margin: auto;
    margin-top: -1.5rem;
}

.containerofimage {
    width: 90%;
    height: 15rem;
    margin: auto;
    position: relative;
}

.profileimage {
    position: relative;
    bottom: 12%;
    right: 79%;
    background-color: white;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

    .profileimage i {
        font-size: 8.6rem;
        transition: all .5s ease;
    }

.subcontainerofcntent {
    background-color: #f7f7f7;
    padding-top: 5rem;
    padding-bottom: 1rem;
    width: 100%;
    margin: auto;
    margin-bottom: -4rem;
}

.flexrow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.flexcolumn {
    width: 50%;
}

h2 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: -1.5rem;
}

h3 {
    font-size: 1.5rem;
    margin-right: 5%;
    margin-bottom: 2rem;
}

.container-signup {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signup {
    max-width: 380px;
    padding: 10px;
    width: 85%;
    margin: auto;
}

.container-img {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 2rem
}

.profilechange {
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}

.label {
    text-align: center;
    margin: auto;
    width: 100%;
    margin-bottom: 1rem;
}

.container-img input[type="file"] {
    display: none;
}

.profilechange i {
    padding: 5px;
    cursor: pointer;
    color: var(--white);
}

.profileicon {
    font-size: 13px;
}

.color-text {
    color: #2b124c;
    margin-bottom: 3rem !important;
}

.check {
    display: flex;
    justify-content: center;
}

.icons {
    padding: 2px;
    color: #5f5f5f;
    font-size: 30px;
}

.icons2 {
    padding: 7px;
    color: #5f5f5f;
    font-size: 20px;
}


.form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 12px;
}

    .form-signup .form-control:focus {
        z-index: 2;
    }

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: auto;
    position: relative;
}

.input-container2 {
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    position: relative;
}

.input-container3 {
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    position: relative;
}

.input-container4 {
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    position: relative;
}

.form-signup .input-container > input[type="text"] {
    padding: 10px 10px 10px 39px;
    box-shadow: 0px 0px 2px 1px #eeeaea;
    outline: 0;
    border-color: #eeeaea;
    font-size: 16px;
    height: 50px;
    position: relative;
}

.form-signup .input-container2 > input[type="text"], .input-container3 > input[type="text"] {
    padding: 10px 10px 10px 33px;
    box-shadow: 0px 0px 2px 1px #eeeaea;
    outline: 0;
    border-color: #eeeaea;
    font-size: 16px;
    height: 50px;
    position: relative;
}

.form-signup input[type="number"] {
    padding: 10px 10px 10px 33px;
    box-shadow: 0px 0px 2px 1px #eeeaea;
    outline: 0;
    border-color: #eeeaea;
    font-size: 16px;
    height: 50px;
    position: relative;
}

.form-signup input::placeholder {
    color: #aeaeae;
    font-size: 12px;
}

.icon {
    color: #a7a7a7;
    direction: rtl;
    right: 1rem;
    min-width: 15px;
    position: absolute;
    z-index: 3;
    font-size: 16px;
    top: 11px;
}

.Addressicon {
    color: #a7a7a7;
    min-width: 15px;
    position: absolute;
    z-index: 3;
    font-size: 16px;
    top: 18px;
    left: 23px;
}

.form-signup input[type="text"]:focus {
    border: 1px solid #f7e3ac;
    box-shadow: 0px 0px 2px 2px rgba(31, 149, 161, 0.2);
}

.input_i:focus + label + i {
    color: #19B5BC;
}

.input_i:focus + label + svg {
    color: #03206C !important;
}

.input_i:not(:empty) + label {
    display: none;
}

.input_i:focus + label {
    position: absolute;
    font-size: 11px;
    margin-left: 3rem;
    top: -1rem;
    right: 2rem;
    background-color: #19B5BC;
    color: white;
    border-radius: 10px;
    padding: 4px 6px;
    transition: all .5s ease;
}

.color-button,
.color-button:hover {
    background-color: #f7e3ac;
    color: white;
    font-weight: bold;
}

.button {
    width: 40%;
    margin: auto 30%;
    margin-bottom: 3.5rem !important;
    background-color: #ff838a;
    color: white
}

.form-signup input[type="email"] {
    padding: 10px 10px 10px 39px;
    box-shadow: 0px 0px 2px 1px #eeeaea;
    outline: 0;
    border-color: #eeeaea;
    font-size: 16px;
    height: 50px;
    position: relative;
}

.form-signup input[type="password"] {
    padding: 10px 10px 10px 39px;
    box-shadow: 0px 0px 2px 1px #eeeaea;
    outline: 0;
    border-color: #eeeaea;
    font-size: 16px;
    height: 50px;
    position: relative;
}

.form-signup input[type="text"] {
    padding: 10px 10px 10px 39px;
    box-shadow: 0px 0px 2px 1px #eeeaea;
    outline: 0;
    border-color: #eeeaea;
    font-size: 16px;
    height: 50px;
    position: relative;
}

.span-eye, .span-eye-confirm {
    position: absolute;
    color: #f7e3ac;
    top: 35%;
    left: 90%;
    cursor: pointer;
    font-size: 12px;
    z-index: 3;
    min-width: 50px;
}

.form-signup input[type="email"]:focus,
.form-signup input[type="password"]:focus,
.form-signup input[type="text"]:focus {
    border: 1px solid #f7e3ac;
    box-shadow: 0px 0px 2px 2px rgba(31, 149, 161, 0.2);
}

.p {
    position: absolute;
    font-size: medium;
    right: 3rem;
    top: 0.5rem;
    transition: all .5s ease;
}

.p_focus {
    position: absolute;
    font-size: 11px;
    margin-left: 3rem;
    top: -1rem;
    right: 2rem;
    background-color: #26b050;
    color: white;
    border-radius: 10px;
    padding: 4px 6px;
    transition: all .5s ease;
}

@media (max-width: 1200px) {
    .main-container {
        width: 100%;
        right: 0%;
    }

    .containerofimage {
        width: 100%;
    }

    .containerofcntent {
        width: 100%;
    }
}

@media (max-width: 790px) {
    .profileimage {
        position: relative;
        bottom: 12%;
        right: 69%;
        width: 6rem;
        height: 6rem;
    }

    .subcontainerofcntent {
        padding-top: 8rem;
    }

    .profileimage i {
        font-size: 6.5rem;
    }
}

@media (max-width: 560px) {
    .p {
        font-size: 11px;
    }

    .input_i:focus + label {
        font-size: 7px;
    }

    .profileimage {
        right: 64%;
    }

    .p_focus {
        font-size: 7px;
    }
}

@media (max-width: 375px) {
    .profileimage {
        right: 63%;
    }
}

@media (max-width: 280px) {
    .main-container {
        width: 115%;
        right: -8%;
    }

    .coverphoto_button {
        width: 5rem !important;
    }

    .profileimage {
        bottom: 6%;
        right: 63%;
        width: 4rem;
        height: 4rem;
    }

        .profileimage i {
            font-size: 4.5rem;
        }

    .profilechange {
        bottom: -0.5rem;
        right: -0.5rem;
    }
}
