@page "/serviceofdoctor"
@inject IAdminService _adminService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="row maincontainer">
    <h1><b>الخدمات اللتى نقدمها</b></h1>
    @foreach (var doctorServiceDTO in doctorServiceDTOs)
    {
        <div class="card-container col-lg-4 col-md-6 col-sm-6">
            <div class="card">
                <div class="image">
                    @if (!string.IsNullOrEmpty(doctorServiceDTO.Image))
                    {
                        <i class="bi bi-image" style="color:#03206C;font-size: 1000%;"></i>
                    }
                    else
                    {
                        <img src="@doctorServiceDTO.Image" />
                    }
                </div>
                <div class="content">
                    <div class="header">@doctorServiceDTO.Title</div>
                    <div class="description">
                        @doctorServiceDTO.Discription
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@code {
    [Parameter]
    public List<DoctorServiceDTO> doctorServiceDTOs { get; set; } = new List<DoctorServiceDTO>();
}
