@page "/serviceofdoctor"


<div class="row" style="padding-right: 2rem;">
    <h1><b>الخدمات اللتى نقدمها</b></h1>
    @for (var i = 0; i < 7; i++)
    {
        <div class="card-container col-lg-4 col-md-6 col-sm-6">
            <div class="card">
                <div class="image">
                    @if (string.IsNullOrEmpty(Image))
                    {
                        <i class="bi bi-image" style="color:#03206C;font-size: 1000%;"></i>
                    }
                    else
                    {
                        <img src="@Image" />
                    }
                </div>
                <div class="content">
                    <div class="header">Orthodontics.</div>
                    <div class="description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis maiores expedita exercitationem rerum, voluptate laudantium nostrum ratione aliquam adipisci, vitae soluta repellat cupiditate, inventore ipsa distinctio quidem assumenda voluptates eligendi.
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@code {

    public List<DoctorServiceDTO> doctorServiceDTOs { get; set; } = new List<DoctorServiceDTO>();
    public string Image { get; set; }
    public string Adderss { get; set; }
    public string Discription { get; set; }
}
