@inherits LayoutComponentBase

<PageTitle>ClinicFront</PageTitle>

<div class="page">
    <div>
        <SideBarAdmin/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>