<input type="checkbox" id="check"/>
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
</label>
<div class="sidebar">
    <header>My App</header>
    <label for="check">
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <ul>
        <li><a href=""><i class="bi bi-person-circle"></i>الصفحه الرئيسية</a></li>
        <li><a href=""><i class="bi bi-person-circle"></i>حسابى</a></li>
        <li><a href=""><i class="fas fa-sliders-h"></i>الخدمات</a></li>
    </ul>
</div>
@code {

}
