@font-face {
    font-family: 'rubik-regular';
    src: url('fonts/rubik-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'jomhuria-regular';
    src: url('fonts/jomhuria-regular.ttf') format('truetype');
}

.main_container {
    width: 80%;
    height: 100%;
}

.cardd {
    box-shadow: rgb(15 23 112) 8px 8px;
    margin-bottom: 2rem;
    width: 51%;
}
.dropdown {
    position: absolute;
    transform: translate3d(5px, 5px, 30em);
    top: 0.5rem;
    right: 95%;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    z-index: 1;
    display: none;
    transition: all .5s ease;
}

.dropdown > button {
    background: transparent;
    border: none;
    font-size: x-large;
}
.cardd:hover {
    box-shadow: 2px 1px 0px 2px rgb(15 23 112);
    transform: translate3d(5px, 5px, 30em);
}
.cardd:hover .dropdown {
    display: block;
}
ul {
    text-align: right !important;
}
.after-card-body{
    width:140%;
}
.Cart_button {
    background-color: #060697;
    color: white;
    width: 12rem;
    height: 2.5rem;
    padding:.5rem;
    margin-bottom: 1rem
}

.Cart_button_delete {
    background-color: #d10404;
    color: white;
    height: 2.5rem;
    padding: .5rem;
    width: 12rem;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    direction: rtl
}

img {
    height: 11rem;
    border-radius: 1rem;
}

a {
    text-decoration: none;
    color: black
}

h1 {
    text-align: center;
    margin-bottom: 4rem;
    font-family: jomhuria-regular;
    font-size: 5rem;
}

h4 {
    margin-left: 1rem;
    direction: ltr;
    font-family: rubik-regular;
    font-size: 20px;
}

.flex_column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex_row {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 1735px) {
    .cardd {
        width: 80%;
    }
}

@media (max-width: 1237px) {
    .cardd {
        width: 100%;
    }
}@media (max-width: 992px) {
    .after-card-body {
        width: 100%;
    }
}
