@font-face {
    font-family: 'rubik-regular';
    src: url('fonts/rubik-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'jomhuria-regular';
    src: url('fonts/jomhuria-regular.ttf') format('truetype');
}

.modal-content {
    height: 21rem;
}

.search {
    width: 50%;
    margin: auto;
    margin-bottom: 4rem;
    direction: rtl;
}

.bge-back {
    width: 100%;
    background-color: #f7f7f7;
    position: fixed;
    z-index: -1;
}

.main_container {
    width: 80%;
    height: 100vh;
    background-color: #f7f7f7;
}

.cardd {
    box-shadow: #19B5BC 8px 8px;
    background-color: white;
    margin-bottom: 2rem;
    width: 48%;
}

.dropdown {
    position: absolute;
    transform: translate3d(5px, 5px, 30em);
    top: 0.5rem;
    right: 95%;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    z-index: 1;
    display: none;
    transition: all .5s ease;
}

    .dropdown > button {
        background: transparent;
        border: none;
        font-size: x-large;
    }

ul {
    text-align: right !important;
}

.cardd:hover {
    box-shadow: #19B5BC 8px 8px;
    transform: translate3d(5px, 5px, 30em);
}

    .cardd:hover .dropdown {
        display: block;
    }

.Cart_button {
    background-color: #19B5BC;
    color: white;
    height: 2.5rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

.Cart_button_delete {
    background-color: rgba(240, 68, 68, 1);
    color: white;
    height: 2.5rem;
    width: 4rem;
    padding-top: 0.5rem;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    direction: rtl
}

img {
    height: 9rem;
    border-radius: 1rem;
}

a {
    text-decoration: none;
    color: black
}

h1 {
    text-align: center;
    margin-bottom: 4rem;
    font-family: jomhuria-regular;
    font-size: 5rem;
    margin: 5rem;
}

h2 {
    text-align: center;
    margin-bottom: 4rem;
    font-family: jomhuria-regular;
    margin: 5rem;
    font-size: 4rem;
}


h4 {
    margin-left: 1rem;
    direction: ltr;
    font-family: rubik-regular;
    font-size: 20px;
}

.flex_column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex_row {
    display: flex;
    justify-content: space-evenly;
}

.div_img {
    width: 111%;
    position: relative;
    bottom: 5%;
}

.direction_rtl {
    direction: rtl;
}

input[type = "date"] {
    width: 19rem;
    border-radius: 5px;
    outline: none;
    margin-bottom: 1rem;
}

@media (max-width: 1420px) {
    .main_container {
        width: 71%;
        padding-left: 1rem;
    }

    .cardd {
        width: 100%
    }
}

@media (max-width: 1237px) {
    .main_container {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 990px) {
    .div_img {
        width: 100%;
    }
}

@media (max-width: 1040px) {
    .main_container {
        width: 100%;
    }

    .cardd {
        width: 100%;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: -webkit-xxx-large;
    }

    .search {
        width: 80%;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: xx-large;
        margin-bottom: 2rem;
    }

    .search {
        width: 80%;
    }
}

@media (max-width: 280px) {
    h4 {
        font-size: small;
    }
}
