.main_container {
    width: 80%;
    height: 100%;
}
.container_admin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 62%;
    margin: auto;
}
.img_of_admin {
    width: 9rem;
    height: 8rem;
    border-radius: 50%;
}
h1{
    margin-bottom:3rem;
    direction:rtl;
}
h6{
    text-align:center;
}
.margin{
    margin-bottom:3rem;
}
.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:6rem;
}
.swiper-slide{
    gap:7px;
    margin-right:5rem
}
.swiper-wrapper {
    gap: 15px;
}
.image-box-container {
    overflow: hidden;
    width: 90%;
}
@media (max-width: 1590px) {
    .swiper-wrapper {
        gap: 70px;
    }
}
@media (max-width: 1237px) {
    .main_container {
        width: 100%;
    }
    .containerswiper{
        width:100%;
    }
    .swiper-wrapper {
        gap: 70px;
    }
}